@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar{
    width: 100% !important;
    border: none !important;
    font-family: 'Inter',sans-serif !important;
}

.react-calendar__tile--active{
    background: #C3EBFA !important;
    color: black !important;
}

abbr:where([title]) {
    text-decoration: none !important;
}

.react-calendar__navigation__label__labelText{
    font-weight: 600;
    font-size: 13px !important;
}

.custom-scrollbar {
    /* For Firefox */
    scrollbar-width: thin;
    scrollbar-color: #CBD5E1 #F3F4F6;
  }
  
  /* For Chrome, Safari, and Opera */
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #F3F4F6;
    border-radius: 4px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #CBD5E1;
    border-radius: 4px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #94A3B8;
  }

  .rbc-btn-group:first-child{
    display: none !important;
  }

  .rbc-btn-group:last-child{
    font-size: 13px !important;
  }

  .rbc-btn-group:last-child button{
    border: none !important;
    background-color: #f1f0ff !important;
    margin-left: 2px !important;
  }

  .rbc-toolbar-label{
    text-align: right !important;
    font-size: 14px !important;
    padding-right: 20px !important;
  }

  .rbc-toolbar button.rbc-active{
    box-shadow: none !important;
    background-color: #dbdafe !important;
  }

  .rbc-calendar{
    height: 900px !important;
  }
